<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<!--
Victory HTML CSS Template
https://templatemo.com/tm-507-victory
-->
        <title>Активные Авторские туры</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/fontAwesome.css">
        <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/hero-slider.css">
        <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/owl-carousel.css">
        <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

        <script src="http://127.0.0.1:8000/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>
    <div class="header">
        <div class="container">
            <a href="#" class="navbar-brand scroll-top">Активные Авторские туры</a>
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Переключить навигацию</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'index' %}">Основное меню</a></li>
                        <li><a href="{% url 'Tur_menu' %}">Туры</a></li>
                        <li><a href="{% url 'blog' %}">Новости</a></li>
                        <li><a href="{% url 'contact' %}">Связаться с нами</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->


    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4></h4>
                    <h2></h2>
                    <p></p>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="book-table">Бронировать сейчас</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="cook-delecious">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="first-image">
                        <img src="http://127.0.0.1:8000/static/img/MyCollages1.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cook-content">
                        <h4>Наши туры-лучший отдых</h4>
                        <div class="contact-content">
                            <span>Если есть вопросы:</span>
                            <h6>+ 1234 567 8910</h6>
                        </div>
                        <span>или</span>
                        <div class="primary-white-button">
                            <a href="#" class="scroll-link" data-id="book-table">Бронировать сейчас</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="second-image">
                        <img src="http://127.0.0.1:8000/static/img/MyCollages (2).png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="{% url 'reserv' %}">
                        <img src="http://127.0.0.1:8000/static/img/2-2.png" alt="Breakfast">
                        <h4>Забронировать тур</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="{% url 'Tur_menu' %}">
                        <img src="http://127.0.0.1:8000/static/img/4-4.png" alt="Lunch">
                        <h4>Туры</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="{% url 'timetable' %}">
                        <img src="http://127.0.0.1:8000/static/img/1-1.png" alt="Dinner">
                        <h4>Календарь</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="{% url 'reviews' %}">
                        <img src="http://127.0.0.1:8000/static/img/3-3.png" alt="Desserts">
                        <h4>Отзывы</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="book-table">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Регистрация</h2>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-12">
                    <div class="left-image">
                        <img src="http://127.0.0.1:8000/static/img/6-6.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-14">
                    <div class="right-info">
                        <h4>Регистрация</h4>
                        <form id="form-submit" action="" method="get">
                            <div class="row">


                                <div class="col-md-6">
                                    <fieldset>
                                        <input name="Фамилия" type="name" class="form-control" id="name" placeholder="Фамилия Имя Отчество" required="">
                                    </fieldset> 
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input name="Телефон" type="phone" class="form-control" id="phone" placeholder="Phone number" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                       <input name="E-mail" type="email" class="form-control" id="email" placeholder="Email" required="">
                                    </fieldset>
                                </div>
                                 <div class="col-md-6">
                                    <fieldset>
                                        <input name="Пароль" type="name" class="form-control" id="name" placeholder="Пароль" required="">
                                    </fieldset>
                                </div><div class="col-md-6">
                                    <fieldset>
                                        <input name="Пароль" type="name" class="form-control" id="name" placeholder="Повторите пароль" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Регистрация</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="get-app">
        <div class="container">
            <div class="row">
                <div class="heading">
                    <h2>Получите приложение для своего телефона</h2>
                </div>
                <div class="primary-white-button">
                    <a href="#">Скачать сейчас</a>
                </div>
            </div>
        </div>
    </section>






    <section class="our-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Новости</h2>
                    </div>
                </div>
            </div>
            <div class="row"> {% for article in index %}
                <div class="col-md-6">
                    <div class="blog-post">

                             <img src="http://127.0.0.1:8000/static/img/0_0.jpg" alt="">
                             <div class="right-content">
                                 <h4>{{ article.title}}</h4>
                                 <span>Новости / Админ</span>
                                 <p>{{ article.text}}</p>
                                    <div class="text-button">
                                        <a href="#">{{ article.user}}</a>
                                    </div>
                            </div>

                    </div>
                </div> {% endfor %}
            </div>
        </div>
    </section>



    <section class="sign-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Подпишись на наши новости</h2>
                    </div>
                </div>
            </div>
            <form id="contact" action="" method="get">
                <div class="row">
                    <div class="col-md-4 col-md-offset-3">
                        <fieldset>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Введите свой адрес электронной почты здесь..." required="">
                        </fieldset>
                    </div>
                    <div class="col-md-2">
                        <fieldset>
                            <button type="submit" id="form-submit" class="btn">Отправить сообщение</button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </section>



       <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Copyright &copy; 2023 Joy Trip</p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>Design: SkladnikLubov</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="http://127.0.0.1:8000/static/js/vendor/bootstrap.min.js"></script>

    <script src="http://127.0.0.1:8000/static/js/plugins.js"></script>
    <script src="http://127.0.0.1:8000/static/js/main.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
</body>
</html>